-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mediconnect
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ambulances`
--

DROP TABLE IF EXISTS `ambulances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ambulances` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ambulanceNumber` varchar(255) NOT NULL,
  `plateNumber` varchar(255) NOT NULL,
  `hospitalId` int(11) NOT NULL,
  `type` enum('Basic','Advanced','ICU','Neonatal','Cardiac','Trauma') DEFAULT 'Basic',
  `category` enum('AC','Non-AC','Freezer') DEFAULT 'Non-AC',
  `model` varchar(255) DEFAULT NULL,
  `year` int(11) DEFAULT NULL,
  `capacity` int(11) DEFAULT 1,
  `driverName` varchar(255) NOT NULL,
  `driverPhone` varchar(255) NOT NULL,
  `driverLicense` varchar(255) DEFAULT NULL,
  `driverExperience` int(11) DEFAULT NULL,
  `paramedic` varchar(255) DEFAULT NULL,
  `paramedicPhone` varchar(255) DEFAULT NULL,
  `nurse` varchar(255) DEFAULT NULL,
  `nursePhone` varchar(255) DEFAULT NULL,
  `equipment` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`equipment`)),
  `hasOxygen` tinyint(1) DEFAULT 1,
  `hasVentilator` tinyint(1) DEFAULT 0,
  `hasDefib` tinyint(1) DEFAULT 0,
  `hasECG` tinyint(1) DEFAULT 0,
  `hasStretcher` tinyint(1) DEFAULT 1,
  `status` enum('Available','Dispatched','On Route','On Scene','Transporting','At Hospital','Out of Service','Maintenance') DEFAULT 'Available',
  `currentLatitude` decimal(10,8) DEFAULT NULL,
  `currentLongitude` decimal(11,8) DEFAULT NULL,
  `baseLatitude` decimal(10,8) NOT NULL,
  `baseLongitude` decimal(11,8) NOT NULL,
  `lastLocationUpdate` datetime DEFAULT NULL,
  `serviceRadius` int(11) DEFAULT 50,
  `serviceAreas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`serviceAreas`)),
  `rating` decimal(2,1) DEFAULT 5.0,
  `totalRatings` int(11) DEFAULT 0,
  `totalTrips` int(11) DEFAULT 0,
  `averageResponseTime` int(11) DEFAULT 0,
  `isActive` tinyint(1) DEFAULT 1,
  `shift` enum('Day','Night','24/7') DEFAULT '24/7',
  `operatingHours` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`operatingHours`)),
  `fuelLevel` int(11) DEFAULT 100,
  `lastMaintenance` datetime DEFAULT NULL,
  `nextMaintenance` datetime DEFAULT NULL,
  `baseCost` decimal(10,2) DEFAULT 0.00,
  `costPerKm` decimal(10,2) DEFAULT 0.00,
  `currentEmergencyId` int(11) DEFAULT NULL,
  `eta` datetime DEFAULT NULL,
  `dispatchedAt` datetime DEFAULT NULL,
  `arrivedAt` datetime DEFAULT NULL,
  `gpsEnabled` tinyint(1) DEFAULT 1,
  `radioChannel` varchar(255) DEFAULT NULL,
  `communicationDevices` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`communicationDevices`)),
  `licenseExpiry` datetime DEFAULT NULL,
  `insuranceExpiry` datetime DEFAULT NULL,
  `certifications` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`certifications`)),
  `notes` text DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ambulanceNumber` (`ambulanceNumber`),
  UNIQUE KEY `plateNumber` (`plateNumber`),
  UNIQUE KEY `ambulanceNumber_2` (`ambulanceNumber`),
  UNIQUE KEY `plateNumber_2` (`plateNumber`),
  KEY `hospitalId` (`hospitalId`),
  KEY `currentEmergencyId` (`currentEmergencyId`),
  CONSTRAINT `ambulances_ibfk_1` FOREIGN KEY (`hospitalId`) REFERENCES `hospitals` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ambulances_ibfk_2` FOREIGN KEY (`currentEmergencyId`) REFERENCES `emergencies` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambulances`
--

LOCK TABLES `ambulances` WRITE;
/*!40000 ALTER TABLE `ambulances` DISABLE KEYS */;
/*!40000 ALTER TABLE `ambulances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `patientId` int(11) NOT NULL,
  `doctorId` int(11) NOT NULL,
  `hospitalId` int(11) NOT NULL,
  `appointmentDate` date NOT NULL,
  `appointmentTime` time NOT NULL,
  `endTime` time DEFAULT NULL,
  `type` enum('In-Person','Telemedicine','Emergency','Follow-up') NOT NULL DEFAULT 'In-Person',
  `priority` enum('Normal','Urgent','Emergency') DEFAULT 'Normal',
  `status` enum('Scheduled','Confirmed','In-Progress','Completed','Cancelled','Missed','Rescheduled') DEFAULT 'Scheduled',
  `queueNumber` int(11) DEFAULT NULL,
  `serialNumber` varchar(255) DEFAULT NULL,
  `patientName` varchar(255) DEFAULT NULL,
  `patientPhone` varchar(255) DEFAULT NULL,
  `patientAge` int(11) DEFAULT NULL,
  `patientGender` varchar(255) DEFAULT NULL,
  `doctorName` varchar(255) DEFAULT NULL,
  `doctorSpecialization` varchar(255) DEFAULT NULL,
  `roomNumber` varchar(255) DEFAULT NULL,
  `symptoms` text DEFAULT NULL,
  `chiefComplaint` text DEFAULT NULL,
  `medicalHistory` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`medicalHistory`)),
  `allergies` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`allergies`)),
  `currentMedications` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`currentMedications`)),
  `consultation` text DEFAULT NULL,
  `diagnosis` text DEFAULT NULL,
  `prescription` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`prescription`)),
  `labTests` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`labTests`)),
  `followUpDate` datetime DEFAULT NULL,
  `followUpInstructions` text DEFAULT NULL,
  `consultationFee` decimal(10,2) DEFAULT 0.00,
  `paymentStatus` enum('Pending','Paid','Partial','Refunded') DEFAULT 'Pending',
  `paymentMethod` enum('Cash','Card','Mobile Banking','Online') DEFAULT 'Cash',
  `paymentReference` varchar(255) DEFAULT NULL,
  `meetingLink` varchar(255) DEFAULT NULL,
  `meetingId` varchar(255) DEFAULT NULL,
  `meetingPassword` varchar(255) DEFAULT NULL,
  `bookedAt` datetime DEFAULT NULL,
  `confirmedAt` datetime DEFAULT NULL,
  `startedAt` datetime DEFAULT NULL,
  `completedAt` datetime DEFAULT NULL,
  `cancelledAt` datetime DEFAULT NULL,
  `cancellationReason` text DEFAULT NULL,
  `cancelledBy` enum('Patient','Doctor','Hospital','System') DEFAULT NULL,
  `patientRating` int(11) DEFAULT NULL,
  `patientFeedback` text DEFAULT NULL,
  `doctorRating` int(11) DEFAULT NULL,
  `doctorFeedback` text DEFAULT NULL,
  `doctorNotes` text DEFAULT NULL,
  `adminNotes` text DEFAULT NULL,
  `reminderSent` tinyint(1) DEFAULT 0,
  `reminderSentAt` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `patientId` (`patientId`),
  KEY `doctorId` (`doctorId`),
  KEY `hospitalId` (`hospitalId`),
  CONSTRAINT `appointments_ibfk_1` FOREIGN KEY (`patientId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `appointments_ibfk_2` FOREIGN KEY (`doctorId`) REFERENCES `doctors` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `appointments_ibfk_3` FOREIGN KEY (`hospitalId`) REFERENCES `hospitals` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `diagnostics`
--

DROP TABLE IF EXISTS `diagnostics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `diagnostics` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `patientId` int(11) NOT NULL,
  `doctorId` int(11) DEFAULT NULL,
  `hospitalId` int(11) NOT NULL,
  `appointmentId` int(11) DEFAULT NULL,
  `testName` varchar(255) NOT NULL,
  `testCode` varchar(255) NOT NULL,
  `category` enum('Blood Test','Urine Test','X-Ray','CT Scan','MRI','Ultrasound','ECG','Echo','Biopsy','Other') NOT NULL,
  `description` text DEFAULT NULL,
  `instructions` text DEFAULT NULL,
  `scheduledDate` date DEFAULT NULL,
  `scheduledTime` time DEFAULT NULL,
  `estimatedDuration` int(11) DEFAULT NULL,
  `status` enum('Ordered','Scheduled','In-Progress','Completed','Cancelled','Report Ready') DEFAULT 'Ordered',
  `priority` enum('Normal','Urgent','STAT') DEFAULT 'Normal',
  `patientName` varchar(255) DEFAULT NULL,
  `patientAge` int(11) DEFAULT NULL,
  `patientGender` varchar(255) DEFAULT NULL,
  `patientPhone` varchar(255) DEFAULT NULL,
  `results` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`results`)),
  `normalRange` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`normalRange`)),
  `abnormalFindings` text DEFAULT NULL,
  `technologistNotes` text DEFAULT NULL,
  `radiologistNotes` text DEFAULT NULL,
  `reportSummary` text DEFAULT NULL,
  `images` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`images`)),
  `reportFile` varchar(255) DEFAULT NULL,
  `attachments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`attachments`)),
  `cost` decimal(10,2) DEFAULT 0.00,
  `discount` decimal(10,2) DEFAULT 0.00,
  `finalAmount` decimal(10,2) DEFAULT 0.00,
  `paymentStatus` enum('Pending','Paid','Partial','Refunded') DEFAULT 'Pending',
  `orderedAt` datetime DEFAULT NULL,
  `sampleCollectedAt` datetime DEFAULT NULL,
  `testStartedAt` datetime DEFAULT NULL,
  `testCompletedAt` datetime DEFAULT NULL,
  `reportReadyAt` datetime DEFAULT NULL,
  `reportDeliveredAt` datetime DEFAULT NULL,
  `qualityControlPassed` tinyint(1) DEFAULT 0,
  `reviewedBy` varchar(255) DEFAULT NULL,
  `reviewedAt` datetime DEFAULT NULL,
  `patientNotified` tinyint(1) DEFAULT 0,
  `doctorNotified` tinyint(1) DEFAULT 0,
  `criticalValue` tinyint(1) DEFAULT 0,
  `criticalValueNotified` tinyint(1) DEFAULT 0,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `testCode` (`testCode`),
  UNIQUE KEY `testCode_2` (`testCode`),
  KEY `patientId` (`patientId`),
  KEY `doctorId` (`doctorId`),
  KEY `hospitalId` (`hospitalId`),
  KEY `appointmentId` (`appointmentId`),
  CONSTRAINT `diagnostics_ibfk_1` FOREIGN KEY (`patientId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `diagnostics_ibfk_2` FOREIGN KEY (`doctorId`) REFERENCES `doctors` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `diagnostics_ibfk_3` FOREIGN KEY (`hospitalId`) REFERENCES `hospitals` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `diagnostics_ibfk_4` FOREIGN KEY (`appointmentId`) REFERENCES `appointments` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `diagnostics`
--

LOCK TABLES `diagnostics` WRITE;
/*!40000 ALTER TABLE `diagnostics` DISABLE KEYS */;
/*!40000 ALTER TABLE `diagnostics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctors`
--

DROP TABLE IF EXISTS `doctors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `doctors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `userId` int(11) NOT NULL,
  `specialization` varchar(255) NOT NULL,
  `bmdcNumber` varchar(255) NOT NULL,
  `experienceYears` int(11) DEFAULT 0,
  `hospitalId` int(11) DEFAULT NULL,
  `hospitalName` varchar(255) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `feesOnline` decimal(10,2) DEFAULT 0.00,
  `feesPhysical` decimal(10,2) DEFAULT 0.00,
  `education` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`education`)),
  `qualifications` text DEFAULT NULL,
  `about` text DEFAULT NULL,
  `schedule` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`schedule`)),
  `roomNumber` varchar(255) DEFAULT NULL,
  `languages` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`languages`)),
  `maxPatientsPerDay` int(11) DEFAULT 20,
  `consultationDuration` int(11) DEFAULT 15,
  `telemedicineDuration` int(11) DEFAULT 10,
  `available` tinyint(1) DEFAULT 1,
  `isTelemedicineEnabled` tinyint(1) DEFAULT 0,
  `isVerified` tinyint(1) DEFAULT 0,
  `rating` decimal(2,1) DEFAULT 0.0,
  `totalRatings` int(11) DEFAULT 0,
  `totalPatients` int(11) DEFAULT 0,
  `currentLoad` int(11) DEFAULT 0,
  `status` enum('Active','Inactive','On Leave','Emergency') DEFAULT 'Active',
  `lastActive` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bmdcNumber` (`bmdcNumber`),
  UNIQUE KEY `bmdcNumber_2` (`bmdcNumber`),
  KEY `userId` (`userId`),
  KEY `hospitalId` (`hospitalId`),
  CONSTRAINT `doctors_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `doctors_ibfk_2` FOREIGN KEY (`hospitalId`) REFERENCES `hospitals` (`id`) ON DELETE NO ACTION ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctors`
--

LOCK TABLES `doctors` WRITE;
/*!40000 ALTER TABLE `doctors` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emergencies`
--

DROP TABLE IF EXISTS `emergencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emergencies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `emergencyId` varchar(255) NOT NULL,
  `patientId` int(11) DEFAULT NULL,
  `patientName` varchar(255) NOT NULL,
  `patientAge` int(11) DEFAULT NULL,
  `patientGender` enum('Male','Female','Other') DEFAULT NULL,
  `patientPhone` varchar(255) DEFAULT NULL,
  `emergencyContactName` varchar(255) DEFAULT NULL,
  `emergencyContactPhone` varchar(255) DEFAULT NULL,
  `currentLocation` text DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `emergencyType` enum('Medical','Accident','Cardiac','Stroke','Trauma','Poisoning','Burns','Other') NOT NULL,
  `priority` enum('Low','Medium','High','Critical') DEFAULT 'Medium',
  `triageLevel` enum('1-Resuscitation','2-Emergent','3-Urgent','4-Less Urgent','5-Non-Urgent') DEFAULT '3-Urgent',
  `description` text NOT NULL,
  `symptoms` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`symptoms`)),
  `vitalSigns` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`vitalSigns`)),
  `consciousness` enum('Alert','Confused','Responds to Voice','Responds to Pain','Unresponsive') DEFAULT 'Alert',
  `assignedHospitalId` int(11) DEFAULT NULL,
  `assignedHospitalName` varchar(255) DEFAULT NULL,
  `estimatedArrivalTime` datetime DEFAULT NULL,
  `actualArrivalTime` datetime DEFAULT NULL,
  `ambulanceRequired` tinyint(1) DEFAULT 0,
  `ambulanceId` int(11) DEFAULT NULL,
  `ambulanceStatus` enum('Not Assigned','Assigned','Dispatched','On Route','Arrived','Transporting','Delivered') DEFAULT 'Not Assigned',
  `estimatedAmbulanceTime` int(11) DEFAULT NULL,
  `status` enum('Reported','Triaged','Dispatched','In Transit','Arrived','Treating','Discharged','Transferred','Deceased') DEFAULT 'Reported',
  `isActive` tinyint(1) DEFAULT 1,
  `attendingDoctorId` int(11) DEFAULT NULL,
  `medicalTeam` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`medicalTeam`)),
  `initialAssessment` text DEFAULT NULL,
  `treatment` text DEFAULT NULL,
  `medications` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`medications`)),
  `procedures` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`procedures`)),
  `outcome` enum('Discharged','Admitted','Transferred','Deceased','Left AMA') DEFAULT 'Discharged',
  `disposition` text DEFAULT NULL,
  `reportedBy` varchar(255) DEFAULT NULL,
  `reporterPhone` varchar(255) DEFAULT NULL,
  `reporterRelation` varchar(255) DEFAULT NULL,
  `reportedAt` datetime DEFAULT NULL,
  `triagedAt` datetime DEFAULT NULL,
  `dispatchedAt` datetime DEFAULT NULL,
  `arrivedAt` datetime DEFAULT NULL,
  `treatmentStartedAt` datetime DEFAULT NULL,
  `resolvedAt` datetime DEFAULT NULL,
  `allergies` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`allergies`)),
  `medicalHistory` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`medicalHistory`)),
  `currentMedications` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`currentMedications`)),
  `insurance` varchar(255) DEFAULT NULL,
  `followUpRequired` tinyint(1) DEFAULT 0,
  `followUpDate` datetime DEFAULT NULL,
  `satisfactionRating` int(11) DEFAULT NULL,
  `feedback` text DEFAULT NULL,
  `responseTime` int(11) DEFAULT NULL,
  `totalTime` int(11) DEFAULT NULL,
  `cost` decimal(10,2) DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `emergencyId` (`emergencyId`),
  UNIQUE KEY `emergencyId_2` (`emergencyId`),
  KEY `patientId` (`patientId`),
  KEY `assignedHospitalId` (`assignedHospitalId`),
  KEY `ambulanceId` (`ambulanceId`),
  KEY `attendingDoctorId` (`attendingDoctorId`),
  CONSTRAINT `emergencies_ibfk_1` FOREIGN KEY (`patientId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `emergencies_ibfk_2` FOREIGN KEY (`assignedHospitalId`) REFERENCES `hospitals` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `emergencies_ibfk_3` FOREIGN KEY (`ambulanceId`) REFERENCES `ambulances` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `emergencies_ibfk_4` FOREIGN KEY (`attendingDoctorId`) REFERENCES `doctors` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emergencies`
--

LOCK TABLES `emergencies` WRITE;
/*!40000 ALTER TABLE `emergencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `emergencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospitals`
--

DROP TABLE IF EXISTS `hospitals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hospitals` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `address` text NOT NULL,
  `district` varchar(255) NOT NULL,
  `division` varchar(255) NOT NULL,
  `type` enum('Public','Private','Diagnostic','Specialized') DEFAULT 'Private',
  `category` enum('Primary','Secondary','Tertiary','Quaternary') DEFAULT 'Secondary',
  `registrationNumber` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `contact` varchar(255) NOT NULL,
  `emergencyContact` varchar(255) DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `totalBeds` int(11) DEFAULT 0,
  `generalBeds` int(11) DEFAULT 0,
  `generalBedsAvailable` int(11) DEFAULT 0,
  `icuBeds` int(11) DEFAULT 0,
  `icuAvailable` int(11) DEFAULT 0,
  `ccuBeds` int(11) DEFAULT 0,
  `ccuAvailable` int(11) DEFAULT 0,
  `neonatalBeds` int(11) DEFAULT 0,
  `neonatalBedsAvailable` int(11) DEFAULT 0,
  `ventilators` int(11) DEFAULT 0,
  `ventilatorsAvailable` int(11) DEFAULT 0,
  `oxygenBeds` int(11) DEFAULT 0,
  `oxygenBedsAvailable` int(11) DEFAULT 0,
  `services` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`services`)),
  `departments` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`departments`)),
  `specializations` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`specializations`)),
  `diagnosticServices` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`diagnosticServices`)),
  `emergencyServices` tinyint(1) DEFAULT 1,
  `ambulanceServices` tinyint(1) DEFAULT 0,
  `bloodBank` tinyint(1) DEFAULT 0,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `isActive` tinyint(1) DEFAULT 1,
  `isVerified` tinyint(1) DEFAULT 0,
  `isCovidTreatment` tinyint(1) DEFAULT 0,
  `rating` decimal(2,1) DEFAULT 0.0,
  `totalRatings` int(11) DEFAULT 0,
  `establishedYear` int(11) DEFAULT NULL,
  `accreditation` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`accreditation`)),
  `description` text DEFAULT NULL,
  `operatingHours` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`operatingHours`)),
  `lastUpdated` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `registrationNumber` (`registrationNumber`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `registrationNumber_2` (`registrationNumber`),
  UNIQUE KEY `email_2` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospitals`
--

LOCK TABLES `hospitals` WRITE;
/*!40000 ALTER TABLE `hospitals` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospitals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `queues`
--

DROP TABLE IF EXISTS `queues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `queues` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `queueId` varchar(255) NOT NULL,
  `hospitalId` int(11) NOT NULL,
  `doctorId` int(11) NOT NULL,
  `appointmentId` int(11) NOT NULL,
  `patientId` int(11) NOT NULL,
  `queueNumber` int(11) NOT NULL,
  `queueDate` date NOT NULL,
  `queueType` enum('Appointment','Walk-in','Emergency','Follow-up') DEFAULT 'Appointment',
  `priority` enum('Normal','High','Emergency') DEFAULT 'Normal',
  `patientName` varchar(255) NOT NULL,
  `patientAge` int(11) DEFAULT NULL,
  `patientGender` varchar(255) DEFAULT NULL,
  `patientPhone` varchar(255) DEFAULT NULL,
  `doctorName` varchar(255) NOT NULL,
  `doctorSpecialization` varchar(255) DEFAULT NULL,
  `roomNumber` varchar(255) DEFAULT NULL,
  `status` enum('Waiting','Called','In-Progress','Completed','Skipped','Cancelled','No-Show') DEFAULT 'Waiting',
  `scheduledTime` time DEFAULT NULL,
  `estimatedWaitTime` int(11) DEFAULT NULL,
  `actualWaitTime` int(11) DEFAULT NULL,
  `consultationDuration` int(11) DEFAULT NULL,
  `checkedInAt` datetime DEFAULT NULL,
  `calledAt` datetime DEFAULT NULL,
  `consultationStartedAt` datetime DEFAULT NULL,
  `consultationEndedAt` datetime DEFAULT NULL,
  `currentPosition` int(11) DEFAULT NULL,
  `estimatedCallTime` datetime DEFAULT NULL,
  `isPatientPresent` tinyint(1) DEFAULT 1,
  `lastSeenAt` datetime DEFAULT NULL,
  `smsNotificationSent` tinyint(1) DEFAULT 0,
  `callNotificationSent` tinyint(1) DEFAULT 0,
  `remindersSent` int(11) DEFAULT 0,
  `skipCount` int(11) DEFAULT 0,
  `skipReason` text DEFAULT NULL,
  `rescheduledFrom` datetime DEFAULT NULL,
  `rescheduledTo` datetime DEFAULT NULL,
  `symptoms` text DEFAULT NULL,
  `chiefComplaint` text DEFAULT NULL,
  `isEmergency` tinyint(1) DEFAULT 0,
  `notes` text DEFAULT NULL,
  `tokenNumber` varchar(255) DEFAULT NULL,
  `kioskCheckIn` tinyint(1) DEFAULT 0,
  `checkedInBy` enum('Patient','Staff','Kiosk','Mobile App') DEFAULT 'Staff',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `queueId` (`queueId`),
  UNIQUE KEY `queueId_2` (`queueId`),
  KEY `hospitalId` (`hospitalId`),
  KEY `doctorId` (`doctorId`),
  KEY `appointmentId` (`appointmentId`),
  KEY `patientId` (`patientId`),
  CONSTRAINT `queues_ibfk_1` FOREIGN KEY (`hospitalId`) REFERENCES `hospitals` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `queues_ibfk_2` FOREIGN KEY (`doctorId`) REFERENCES `doctors` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `queues_ibfk_3` FOREIGN KEY (`appointmentId`) REFERENCES `appointments` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `queues_ibfk_4` FOREIGN KEY (`patientId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `queues`
--

LOCK TABLES `queues` WRITE;
/*!40000 ALTER TABLE `queues` DISABLE KEYS */;
/*!40000 ALTER TABLE `queues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `phone` varchar(255) NOT NULL,
  `role` enum('PATIENT','DOCTOR','ADMIN','SUPER_ADMIN') DEFAULT 'PATIENT',
  `image` varchar(255) DEFAULT NULL,
  `dateOfBirth` datetime DEFAULT NULL,
  `gender` enum('MALE','FEMALE','OTHER') DEFAULT NULL,
  `address` text DEFAULT NULL,
  `bloodGroup` enum('A+','A-','B+','B-','AB+','AB-','O+','O-') DEFAULT NULL,
  `emergencyContact` varchar(255) DEFAULT NULL,
  `hospitalId` int(11) DEFAULT NULL,
  `isActive` tinyint(1) DEFAULT 1,
  `isVerified` tinyint(1) DEFAULT 0,
  `lastLogin` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `email_2` (`email`),
  KEY `hospitalId` (`hospitalId`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`hospitalId`) REFERENCES `hospitals` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'mediconnect'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-12 13:01:33
